.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  gap: 24px;
}

.navigation__list_theme_dark {
  gap: 30;
}

.navigation__item {
  padding: 0 0 5px 0;
  margin: 0;
}

.navigation__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;

  text-decoration: none;

  color: var(--cl-text-primary);
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__link:hover {
  text-decoration: underline;
}

.navigation__link_theme_dark {
  font-size: 12px;
  color: var(--cl-text-secondary);
}

.navigation__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;

  text-decoration: none;

  color: var(--cl-text-primary);

  padding: 9px 20px;
  box-sizing: border-box;

  background-color: var(--brand-color);
  border-radius: 3px;

  color: var(--cl-text-secondary);
}

.navigation__button:hover{
  text-decoration: underline;
}

.navigation__button_theme_dark {
  color: var(--cl-text-primary);
}

.navigation__account {
  padding: 8px 12px;
  box-sizing: border-box;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: var(--cl-text-primary);

  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 50px;

  text-decoration: none;
}

.navigation__account:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.navigation__account_theme_dark {
  color: var(--cl-text-secondary);
  font-size: 12px;
}

.navigation__account-img {
  padding-right: 7px;
}

.burger {
  min-width: 38px;
  min-height: 38px;

  box-sizing: border-box;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-stripe,
.burger-stripe::before,
.burger-stripe::after {
  width: 28px;
  height: 3px;
  background-color: #000;
  position: relative;

  transition: var(--transition-hover);
}

.burger-stripe::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
}

.burger-stripe::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
}

.burger_active .burger-stripe {
  transform: rotate(45deg);
}
.burger_active .burger-stripe::after {
  transform: rotate(-90deg) translate(-10px, 0);
}
.burger_active .burger-stripe::before {
  transform: scale(0) rotate(-90deg) translate(10px, 0);
}

.burger_theme_dark .burger-stripe,
.burger_theme_dark .burger-stripe::after,
.burger_theme_dark .burger-stripe::before {
  background-color: #fff;
}

.burger_active .burger-stripe,
.burger_active .burger-stripe::after,
.burger_active .burger-stripe::before {
  background-color: #000;
}

@media screen and (min-width: 769px) {
  .burger {
    display: none;
  }

  .navigation__list-overlay {
    display: none;
  }

  .navigation__link_type_mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation__type_mobile {
    position: fixed;
    min-width: 520px;
    min-height: 100vh;
    top: 0;
    right: 0;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 160px 0 87px 0;
    box-sizing: border-box;

    background-color: #fff;
    z-index: 101;

    margin-right: -600px;

    transition: var(--transition-hover);
  }

  .navigation_active {
    margin-right: 0;
  }

  .navigation__type_mobile .navigation__list {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  .navigation__type_mobile .navigation__link_active {
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  .navigation__type_mobile .navigation__link {
    font-size: 18px;
  }

  .navigation__type_mobile .navigation__link_theme_dark {
    color: var(--cl-text-primary);
    font-size: 14px;
  }

  .navigation__type_mobile .navigation__account {
    color: var(--cl-text-primary);
    font-size: 14px;
  }

  .navigation__list-overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;

    background-color: black;
    opacity: 0;
    visibility: hidden;

    transition: var(--transition-hover);
  }

  .navigation__list-overlay_active {
    opacity: 0.3;
    visibility: visible;
  }

  .burger {
    z-index: 102;
  }

  .burger_active {
    transform: translateX(13px);
  }

  .burger_active .burger-stripe,
  .burger_active .burger-stripe::before,
  .burger_active .burger-stripe::after {
    width: 22px;
  }
}

@media screen and (max-width: 600px) {
  .navigation__list-overlay,
  .navigation__list-overlay_active {
    visibility: hidden;
    opacity: 0;
  }

  .navigation__type_mobile {
    min-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .navigation__list {
    gap: 14px;
  }

  .navigation__button {
    padding: 7px 12px;
    font-size: 10px;
    line-height: 1.6;
  }

  .navigation__link {
    font-size: 10px;
    line-height: 1.6;
  }

  .burger {
    width: 22px;
    height: 22px;
  }

  .burger-stripe,
  .burger-stripe::after,
  .burger-stripe::before {
    width: 22px;
  }

  .burger-stripe {
    top: -2px;
  }

  .burger-stripe::after {
    top: -8px;
  }

  .burger-stripe::before {
    top: 8px;
  }

  .burger_active {
    transform: translate(8px, -8px);
  }

  .burger_active .burger-stripe::after {
    transform: rotate(-90deg) translate(-8px, 0);
  }

  .navigation__type_mobile {
    padding: 140px 0 43px 0;
  }

  .navigation__type_mobile .navigation__list {
    gap: 14px;
  }

  .navigation__type_mobile .navigation__link {
    text-underline-offset: 11px;
  }
}
