.techs {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__title {
  padding: 18px 0 27px 0;
  margin: 0;

  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;

  letter-spacing: -0.04em;

  color: var(--cl-text-primary);
}

.techs__description {
  padding: 0 0 100px 0;
  margin: 0;

  width: 40%;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: -0.04em;

  color: var(--cl-text-primary);
}

.techs__list {
  min-width: 60%;
  padding: 0 0 10px 0;
  margin: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  gap: 10px;
}

.techs__list-item {
  padding-block: 22px;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: -0.04em;

  color: var(--cl-text-primary);

  background-color: var(--bg-primary-300);
  border-radius: 10px;

  transition: var(--transition-hover);
}

.techs__list-item:hover{
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 0 13px var(--bg-primary-400);
}

@media screen and (max-width: 768px) {
  .techs__title {
    padding: 10px 0 21px 0;
  }
  .techs__description {
    padding: 0 0 84px 0;

    font-size: 12px;
    line-height: 1.5;

    width: 60%;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
    min-width: 90%;
  }

  .techs__list-item {
    padding-block: 20px;

    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 425px) {
  .techs__title {
    padding: 0 0 20px 0;
    font-size: 30px;
    line-height: 1.2;
  }

  .techs__description {
    padding: 0 0 51px 0;
    width: 90%;

    font-size: 11px;
    line-height: 1.45;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
    min-width: 60%;
    gap: 12px 10px;
    padding: 0 0 14px 0;
  }
}
